html{
	background-image: url(olosmuerto.PNG);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.MisDatos {
	width: 400px;
	background-color: white;
	padding: 15px;
	margin: auto;
	margin-top: 100px;
	border-radius: 20px;
    color: #2288DD;
	font-family: 'calibri';
	box-shadow: 2px 4px 15px;
}
.MisDatos h4 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
}
.caja{
	width: 100%;
	background-color: white;
	padding: 10px;
	border: 1px solid lightskyblue;
	border-radius: 7px;
	margin-bottom: 16px;
	font-family: 'calibri';
	font-size: 16px;
}
.botones{
	width: 100%;
	background-color: #2288DD;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
	font-family: 'Verdana';
}
.terminos {
    color: darkgrey;
    font-size: 14px;
    font-weight: 900;
}
.condiciones {
    color: lightskyblue;
}